@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


.about-container {
    padding: 0;
    margin: 0;
}

.about-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    background-image: url('../img/aboutus-banner.png');
    background-size: cover;
    background-position: center;
    text-align: center; 
    min-height: 600px;
    position: relative;
    width: 100%;
    padding-top: 50px;
}

.about-banner h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0; 
    color: white;
    margin-top: 0;
}

.about-banner p {
    word-wrap: break-word; 
    font-size: 20px;
    margin: 0; 
    color: white; 
    max-width: 50%; 
    text-align: center; 
    line-height: 1.5; 
    padding: 0 15px; 
    position: relative;
    font-weight: 500;
}

.about-row {
    display: flex;
    padding:  10px;
}

.about-column {
    width: 50%;
    margin: 10px;
}

.about-who {
    text-align: left;
    width: 90%;
    margin-top: 15%;
    margin-left: 10%;
    justify-content: left;
}

.about-who h1 {
    text-align: center;
    width: 90%;
    color: #28C179;
}

.underline-about {
    content: " ";
    background-color: #28C179;
    width: 90%;
    height: 2px;
}

.about-who p {
    padding: 25px;
    text-align: left;
    width: 90%;
    font-weight: 500;
    font-size: 20px;
}


.rec-two {
    width: 95%;
    height: auto;
    z-index: 2;
}

.rec-two img {
    width: 100%;
    height: 100%;
}

.rec-four {
    width: 100%;
    height: auto;
    z-index: 2;
}

.rec-four img {
    width: 100%;
    height: 100%;
}

.about-offer {
    text-align: center;
    width: 90%;
    margin-top: 15%;
    margin-left: 10%;
    justify-content: left;
}

.about-offer h1 {
    text-align: center;
    width: 90%;
    color: #28C179;
}

.about-offer p {
    padding: 25px;
    text-align: left;
    width: 90%;
    font-weight: 500;
    font-size: 20px;
}

.underline-offer {
    content: " ";
    background-color: #28C179;
    width: 100%;
    height: 2px;
    right: 50px;
}

@media (max-width:1024px) {
    
    .about-who h1 {
        text-align: center;
        width: 90%;
        color: #28C179;
        font-size: 30px;
    }

    .about-who p {
        padding: 25px;
        text-align: left;
        width: 90%;
        font-weight: 500;
        font-size: 15px;
    }
    
    .about-offer h1 {
        text-align: center;
        width: 90%;
        color: #28C179;
        font-size: 30px;
    }
    
    .about-offer p {
        padding: 25px;
        text-align: left;
        width: 90%;
        font-weight: 500;
        font-size: 15px;
    }
    
}

@media (max-width:768px) {
    
    .about-who h1 {
        text-align: center;
        width: 90%;
        color: #28C179;
        font-size: 25px;
    }

    .about-who p {
        padding: 25px;
        text-align: left;
        width: 90%;
        font-weight: 500;
        font-size: 13px;
    }
    
    .about-offer h1 {
        text-align: center;
        width: 90%;
        color: #28C179;
        font-size: 25px;
    }
    
    .about-offer p {
        padding: 25px;
        text-align: left;
        width: 90%;
        font-weight: 500;
        font-size: 13px;
    }
    
}


.container-about {
    display: none;
}

@media (max-width:500px) {
    .about-banner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: center;
        background-image: url('../img/aboutus-banner.png');
        background-size: cover;
        background-position: center;
        text-align: center; 
        min-height: 400px;
        position: relative;
        width: 100%;
        padding-top: 50px;
    }

    .about-banner h1 {
        font-size: 30px;
        font-weight: bold;
        margin: 0; 
        color: white;
        margin-top: 0;
    }
    
    .about-banner p {
        word-wrap: break-word; 
        font-size: 15px;
        margin: 0; 
        color: white; 
        max-width: 70%; 
        text-align: center; 
        line-height: 1.5; 
        padding: 0 15px; 
        position: relative;
        font-weight: 500;
    }

    .about-row {
        display: none;
    }
    .container-about {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        font-size: x-small;
        display: block;
    }
    
    .container-about img {
        width: 100%;
        height: auto;
    }
    
    #whowe {
        width: 100%;
        height: auto;
    }
    
    #offer {
        width: 100%;
        height: auto;
        transform: scaleX(-1);
    }
    
    .textblock-about1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%; 
        height: 100%; 
        background: rgba(0, 0, 0, 0.5); 
        color: #f1f1f1; 
        padding: 20px;
        box-sizing: border-box; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        text-align: center; 
        overflow: hidden;
        padding: 5px;
    }
    
    .textblock-about2 {
        position: absolute;
        top: 0;
        right: 0;
        width: 40%; 
        height: 100%; 
        background: rgba(0, 0, 0, 0.5); 
        color: #f1f1f1; 
        padding: 20px;
        box-sizing: border-box; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        text-align: center; 
        overflow: hidden; 
        padding: 5px;
    }
    
    
    .textblock-about2 h1, .textblock-about2 p {
        margin: 0; 
        padding: 0; 
        word-wrap: break-word; 
    }
    
    .textblock-about1 h4, .textblock-about1 p {
        margin: 0; 
        padding: 0; 
        word-wrap: break-word; 
    }
}

