@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


.about-container {
    padding: 0;
    margin: 0;
}

.about-banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    background-image: url('../img/aboutus-banner.png');
    background-size: cover;
    background-position: center;
    text-align: center; 
    min-height: 600px;
    position: relative;
    width: 100%;
    padding-top: 50px; /* Add some padding to the top */
}

.about-banner h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0; 
    color: white;
    margin-top: 0; /* Adjust margin-top to 0 since padding-top is used for spacing */
}

.about-banner p {
    word-wrap: break-word; 
    font-size: 20px;
    margin: 0; 
    color: white; /* Make text white */
    max-width: 50%; /* Limit paragraph width to 50% */
    text-align: center; /* Ensure the text is centered */
    line-height: 1.5; /* Improve readability */
    padding: 0 15px; /* Add some horizontal padding */
    position: relative;
    font-weight: 500;
}

.about-row {
    display: flex;
    padding:  10px;
}

.about-column {
    width: 40%;
    margin: 10px;
}

.about-who {
    text-align: left;
    width: 90%;
    margin-top: 15%;
    margin-left: 10%;
    justify-content: left;
}

.about-who h1 {
    text-align: center;
    width: 90%;
    color: #28C179;
}

.underline-about {
    content: " ";
    background-color: #28C179;
    width: 90%;
    height: 2px;
}

.about-who p {
    padding: 25px;
    text-align: left;
    width: 90%;
    font-weight: 500;
    font-size: 20px;
}


.rec-two {
    width: 95%;
    height: auto;
    z-index: 2;
    transform: translate(50%);
}

.rec-two img {
    width: 100%;
    height: 100%;
}


.rec-four {
    width: 100%;
    height: auto;
    bottom: -100px;
    z-index: 2;
}

.rec-four img {
    width: 100%;
    height: 100%;
}

.about-offer {
    text-align: center;
    width: 90%;
    margin-top: 15%;
    margin-left: 10%;
    justify-content: left;
}

.about-offer h1 {
    text-align: center;
    width: 90%;
    color: #28C179;
}

.about-offer p {
    padding: 25px;
    text-align: left;
    width: 90%;
    font-weight: 500;
    font-size: 20px;
}

.underline-offer {
    content: " ";
    background-color: #28C179;
    width: 500px;
    height: 2px;
    right: 50px;
}