.whatthesigma {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.whatthesigma img {
    width: 400px;
}

.whatthesigma .gk,
.whatthesigma .rd,
.whatthesigma .ld,
.whatthesigma .rm,
.whatthesigma .cm,
.whatthesigma .lm,
.whatthesigma .ri,
.whatthesigma .li,
.whatthesigma .rf,
.whatthesigma .cf,
.whatthesigma .lf {
    position: absolute;
    border-radius: 100px;
    font-size: 13px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.whatthesigma .gk { top: 13%; left: 28.75%; }
.whatthesigma .rd { top: 28%; left: 18.5%; }
.whatthesigma .ld { top: 28%; left: 40%; }
.whatthesigma .rm { top: 52%; left: 8%; }
.whatthesigma .cm { top: 52%; left: 28.75%; }
.whatthesigma .lm { top: 52%; left: 51%; }
.whatthesigma .ri { top: 67%; left: 18.5%; }
.whatthesigma .li { top: 67%; left: 40%; }
.whatthesigma .rf { top: 82%; left: 8%; }
.whatthesigma .cf { top: 82%; left: 28.75%; }
.whatthesigma .lf { top: 82%; left: 51%; }


button:hover {
    background-color: red;
    color: white;
    border: 3px solid white;
    transition: 0.15s;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s;
    white-space: nowrap;
    z-index: 10;
}

button:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.1s;
    text-align: center;
}


    /* Style for the modal backdrop and centering */
    .bg-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.869); /* Semi-transparent black backdrop */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .modal-content {
        width: 50%;
        max-width: 600px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        z-index: 1001;
        background-image: url('/img/logreg.jpg'); /* Add your background image here */
    background-size: cover; /* Ensures the image covers the entire modal */
    background-position: center; /* Centers the background image */
    }

    .modal-content .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 24px;
    }

    .modal-content .close i {
        color: white;
    }

    /* Optional: Add fade-in transition for smooth appearance */
    .bg-modal.show {
        animation: fadeIn 0.3s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    /* Add some padding to the page to ensure footer content isn't immediately visible when the modal opens */
    body {
        padding-bottom: 60px;
    }


/*------------------------------------------------*/


/* line-up */    
.whatthe i{
    position: absolute;
    font-size: 50px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.gki {
    top: 20%; /* 28% - 5% */
    left: 23%;
}
.details-gk {
    position: absolute;
    top: 26.5%; /* 32.5% - 5% */
    left: 20%;
    font-weight: bold;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.jn-gk {
    position: absolute;
    top: 22.5%; /* 29.5% - 5% */
    left: 24.5%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}

.rdi {
    top: 28.5%; /* 33.5% - 5% */
    left: 14%;
}
.details-rd {
    position: absolute;
    top: 35%; /* 38% - 5% */
    left: 10%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.jn-rd {
    position: absolute;
    top: 30%; /* 35% - 5% */
    left: 15.5%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}

.ldi {
    top: 28.5%; /* 33.5% - 5% */
    left: 32%;
}
.details-ld {
    position: absolute;
    top: 35%; /* 38% - 5% */
    left: 30%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.jn-ld {
    position: absolute;
    top: 30%; /* 35% - 5% */
    left: 33.5%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}

.rmi {
    top: 43%; /* 42% - 5% */
    left: 6.5%;
}
.details-rm {
    position: absolute;
    top:49.5%; /* 46.5% - 5% */
    left: 4.5%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.jn-rm {
    position: absolute;
    top: 45%; /* 43.5% - 5% */
    left: 8%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}

.cmi {
    top: 43%; /* 42% - 5% */
    left: 23%;
}
.details-cm {
    position: absolute;
    top:49.5%; /* 46.5% - 5% */
    left: 22%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.jn-cm {
    position: absolute;
    top: 45%; /* 43.5% - 5% */
    left: 24.5%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}

.lmi {
    top: 43%; /* 42% - 5% */
    left: 39.5%;
}
.details-lm {
    position: absolute;
    top:49.5%; /* 46.5% - 5% */
    left: 37.5%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.jn-lm {
    position: absolute;
    top: 45%; /* 43.5% - 5% */
    left: 41%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}

.rii {
    top: 55%; /* 51% - 5% */
    left: 14%;
}
.details-ri {
    position: absolute;
    top: 60.5%; /* 56% - 5% */
    left: 10%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.jn-ri {
    position: absolute;
    top: 57%; /* 52.5% - 5% */
    left: 15.5%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}

.lii {
    top: 55%; /* 51% - 5% */
    left: 32%;
}
.details-li {
    position: absolute;
    top: 60.5%; /* 56% - 5% */
    left: 30%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.jn-li {
    position: absolute;
    top: 57%; /* 52.5% - 5% */
    left: 33.5%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}

.rfi {
    top: 68%; /* 60% - 5% */
    left: 6.5%;
}
.details-rf {
    position: absolute;
    top: 74.5%; /* 65.5% - 5% */
    left: 4.5%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.jn-rf {
    position: absolute;
    top: 70%; /* 62% - 5% */
    left: 8%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}

.cfi {
    top: 68%; /* 60% - 5% */
    left: 23%;
}
.details-cf {
    position: absolute;
    top: 74.5%; /* 65.5% - 5% */
    left: 20%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.jn-cf {
    position: absolute;
    top: 70%; /* 62% - 5% */
    left: 24.5%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}

.lfi {
    top: 68%; /* 60% - 5% */
    left: 39.5%;
}
.details-lf {
    position: absolute;
    top: 74.5%; /* 65.5% - 5% */
    left: 37.5%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}
.jn-lf {
    position: absolute;
    top: 70%; /* 62% - 5% */
    left: 41%;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}



.tab-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-btn {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;

    font-size: 16px;
}

.tab-btn:hover {
    background-color: #5D3CB8;
    padding: 10px 20px;

   

}

.tab-btn.active {
    background-color: #5D3CB8;
    color: white;
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
.color-picker-container {
    display: flex;
    gap: 20px; /* Space between the two color picker sections */
}

.color-picker-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between label and input */
}
