@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Background and wrapper styles */
.login-bg {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../img/bg-login.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
}

.logo-row {
    display: flex;            /* Make the container a flexbox */
    flex-wrap: wrap;          /* Allow wrapping of items if needed */
    width: 100%;
    padding: 5px;
    position: relative;
    justify-content: center; /* Center items horizontally */
    align-items: center;     /* Center items vertically (if needed) */
}

.logo-row img {
    max-width: 25%;
    height: auto;
    margin: 0 10px;          /* Add horizontal spacing between images */
}

.logores-row {
    display: flex;            /* Make the container a flexbox */
    flex-wrap: wrap;          /* Allow wrapping of items if needed */
    width: 100%;
    padding: 5px;
    position: relative;
    justify-content: center; /* Center items horizontally */
    align-items: center;     /* Center items vertically (if needed) */
}

.logores-row img {
    max-width: 25%;
    height: auto;
    margin: 0 10px;          /* Add horizontal spacing between images */
}

.login-bg .wrapper {
    position: relative;
    width: 450px;
    height: fit-content;
    background: transparent;
    border: 2px solid rgba(250, 250, 250, .5);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgb(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.regis-wrapper {
    position: relative;
    width: 800px;
    background: transparent;
    border: 2px solid rgba(250, 250, 250, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.regis-wrapper .form-box {
    width: 100%;
    padding: 20px;
}

.wrapper .form-box {
    width: 80%;
    padding: 20px;
}

.regis-wrapper .form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif ;
    font-weight: bold;
    margin-bottom: 10px;
}

.back-btn img {
    width: 50px;
    height: auto;
    position: absolute;
    top: 5px;
    right: 5px;
} 

.login-bg .row {
    display: flex;
    gap: 20px; 
    margin-bottom: 30px;
}

.input-box {
    flex: 1; /* Allows input boxes to grow and shrink */
    min-width: 0; /* Prevents overflow */
    height: 50px;
    border-bottom: 2px solid black;
    position: relative;
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.log-email {
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 0 35px 0 5px;
    width: 90%;
}

.log-email::placeholder {
    color: white;
}

.regis-name::placeholder {
    color: white;
}

.regis-email::placeholder {
    color: white;
}

.regis-country::placeholder {
    color: white;
}

.regis-team::placeholder {
    color: white;
}

.regis-password::placeholder {
    color: white;
}

.regis-password-confirm::placeholder {
    color: white;
}

/* Remove default styling for select element */
.regis-country {
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 0 35px  5px;
    appearance: none;
}

.remeber-me {
    color: white;
}

.request-password {
    margin-bottom: 0px;
}

.requestpassword-text {
    font-size: 12px;
    color: rgb(189, 182, 255);
    margin: 0;
    justify-content: left;
}

.regis-country option {
    background-color: rgb(19, 59, 144)  ;
    color: #000000;
}

/* Styling for input fields */
.regis-name, .regis-email, .regis-team, .regis-password, .regis-password-confirm, .password-input{
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 0 35px 0 5px;
    width: 90%;
}

@media (max-width:770px) {
    .regis-name, .regis-email, .regis-team, .regis-password, .regis-password-confirm, .password-input{
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        color: #fff;
        padding: 0 35px 0 5px;
        width: 90%;
    }
    .input-box {
        min-width: 0;
        height: 50px;
        border-bottom: 2px solid black;
        position: relative;
        display: flex;
        align-items: center;
        margin: 15px 0 !important;
    }
}

/* Icon styling */
.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 50px;
}

/* Button styling */
.btn {
    height: 45px;
    width: 100%;
    background-color: #2dc27c;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
}

/* Link styling */
.login-register {
    font-size: 12px;
    color: rgb(189, 182, 255);
    font-weight: 500;
    margin: 15px 0;
    text-align: center;
}

.login-register a {
    color: rgb(189, 182, 255);
    text-decoration: none;
}

.login-register a:hover {
    color: #7522d4;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
}
