
/* Container */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background: rgba(65, 34, 63, 0.9); /* Updated opacity */
    padding: 20px;
    padding-right:20px;
    border-radius: 12px; /* Rounded borders */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center; /* Center the title */
}

/* Logo */
.logo {
    margin-bottom: 20px;
}

.logo img {
    height: 90px;
}

/* Form Elements */
.input-group {
    margin-bottom: 15px;
    margin-right:15px;
    position: relative; /* Position for icons */
}

.input-group label {
    display: flex;
    align-items: center; /* Align icons and text */
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1em;
    color:white;
}

.input-group label i {
    margin-right: 8px; /* Space between icon and text */
}

.input-group input, .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 12px; /* Rounded borders */
}

.input-group .error {
    color: red;
    font-size: 0.875em;
}

/* Actions */
.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-actions a {
    color: white; /* Updated color */
    text-decoration: none;
}

.form-actions a:hover {
    text-decoration: underline;
}

.form-actions button {
    background-color: #4B006E; /* Updated color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px; /* Rounded borders */
    cursor: pointer;
}

.form-actions button:hover {
    background-color: #3a004f; /* Slightly darker shade */
}

.btn {
    background-color: #4B006E; /* Updated color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px; /* Rounded borders */
    cursor: pointer;
    font-weight:bold;
}

.btn:hover {
    color: #3a004f;
    background-color: white;
    transition: 0.2s; /* Slightly darker shade */
    font-weight:bold;
}

.links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
