/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    color: #333;
}

h2 {
    color: #6A0DAD;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

th {
    color: #fff;
    background-color: #5D3CB8;
    padding: 5px;
}

section {
    background-color: #D3D3D3;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.match-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.match-select {
    width: 500px; 
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    margin-right: 50px;
}

.status-btn {
    width: 100px; 
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #6A0DAD;
    color: white;
    text-align: center;
    font-size: 18px;
}

.status {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    width: 250px;
    text-align: center;
}

.label {
    font-weight: bold;   
    font-size: 24px;    
    font-family: Arial, sans-serif;  
    color: #6A0DAD;       
}

.score-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 20px;
}

.score-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.team-score-wrapper {
    display: flex;
    justify-content: space-evenly; 
    width: 100%; 
}

.team-score {
    display: flex;
    align-items: center;
}

.team-box {
    background-color: #50C878;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 150px;
    text-align: center;
    margin: 10px; 
}

.player-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.scoring-player {
    display: flex;
    align-items: center;
}

.player-input {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.add-player-btn {
    background-color: #6A0DAD;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.update-btn {
    background-color: #28C179;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}
.match, .final-match {
    background-color: #5D3CB8;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin-bottom:10px;
}
.match-number {
    font-weight: bold;
}

.score-box {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    font-size: 1.2em;
    text-align: center;
   

}
.score-input {
    width: 50px;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 5px;
}

.final-match {
    background-color: #A680F9;
    font-size: 1.2em;
}
.btn-update {
    background-color: #46d894;
    border: none;
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 50px;
    display: block;
    margin-left: 600px;
}

.btn-update:hover {
    background-color: #4ccd77;
}

.match {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.match-number {
    font-weight: bold;
}

.matches-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.column-1 {
    display: flex;
    flex-direction: column;
    width: 30%; 
    margin-left: 100px;
}

.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;;
    margin-bottom: 10px;
}

.match, .final-match {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.semi-final-match {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}

.score-container-5 {
    padding-top: 100px;
}

.score-container-6 {
    padding-top: 150px;
}

.score-container-7 {
    padding-top: 250px;
}

.player-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.team-player-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%; 
}

.player-box {
    background-color: #576da8; 
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 150px;
    text-align: center;
    margin: 10px; 
}