@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: white;
}

li, a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #5D3CB8;
    text-decoration: none;
    margin-inline: 20px;
}

button {
    color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px, 10%;

}

.logo {
    width: 153px;
    height: 153px;
    flex-shrink: 0;
    cursor: pointer;
}

.nav__link {
    list-style: none;
}

.nav__link li {
    display: inline-block;
    padding: 0px, 40px;
}

.nav__link li a {
    transition: all 0.3s ease 0s;
    padding: 0px, 40px;
}

.nav__link li a:hover {
    color: blueviolet;
}

button {
    padding: 9px, 25px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background: rgb(40, 193, 121, 1);
    transition: all 0.3s ease 0s;
    width: 142px;
    height: 60px;
}

button:hover {
    background: rgb(40, 193, 121, 0.8);
}

